* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fae3d9;
  font-family: 'Roboto', sans-serif;
}

body #menu-open {
  display: none;
}

header {
  padding: 30px 100px;
  background-image: url(../desing/images/images/bg-pattern-intro.svg);
  background-position: center;
  background-size: cover;
  height: 80vh;
  border-bottom-left-radius: 50px;
  width: 100%;
  background-color: #FF7768;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header img {
  height: 30px;
}

header button {
  background-color: rgba(255, 255, 255, 0);
  padding: 20px 30px;
  text-align: center;
  border-radius: 20px;
  border: none;
  color: white;
}

header button:hover {
  background-color: white;
  cursor: pointer;
  color: black;
}

header select {
  padding: 15px;
  background-color: #ff6a6200;
  border: none;
  color: white;
  font-size: 15px;
  margin-left: 20px;
  cursor: pointer;
}

header select:hover {
  background-color: white;
  color: black;
}

header #titulo {
  margin-top: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 50px;
}

header #titulo #buttons_plataform {
  margin: 10px;
}

main {
  margin-top: 50px;
  height: auto;
}

main h1 {
  text-align: center;
  color: #252525;
  padding-top: 50px;
}

main #designed {
  padding: 30px;
  border-radius: 50px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px;
}

main #designed img {
  width: 40vw;
  padding-top: 50px;
}

main #designed div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  text-align: center;
  width: 50vw;
  height: 500px;
}

#phone {
  margin-top: 90px;
  background-color: #1a3b83;
  height: 300px;
  border-radius: 0px 80px 0px 80px;
  background-image: url(../desing/images/images/bg-pattern-circles.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-position-x: -200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#phone img {
  position: relative;
  height: 450px;
}

#phone div {
  width: 50vw;
  color: white;
}

#computador {
  margin: 100px 0px;
  background-color: white;
  border-radius: 0px 100px;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px;
  padding-right: 50px;
}

#computador img {
  height: auto;
  right: 20%;
  position: relative;
  width: 60vw;
}

#computador div {
  width: 50vw;
}

footer {
  height: auto;
  padding: 15px 0px;
  background-color: #FF7768;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer img {
  height: 70px;
}
/*# sourceMappingURL=css.css.map */