@media screen and (max-width:933px){

    body{
        #menu-open{
            display: initial;
        }
    }



    select{
        display: none;
    }

    #registro{
        display: none;
    }

    #menu-open{
        cursor: pointer;
        height: 25px;
    }

    #titulo{
        #buttons_plataform{
            button{
                
                border: 1px solid white;
            }
        }
    }
}

@media screen and (max-width: 780px){
    main{
        #designed{
            margin: 5px;
            padding:0px;
            display: flex;
            flex-direction: column;
            padding-bottom: 30px;
            margin-bottom: 30px;

            img{
                height: auto;
                
                min-width: 200px;
                padding-top: 50px;
            }

            div{
                width: 100%;
                padding-top: 30px;
                height: auto;
            }

        }

        #computador{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-right: 0;
            padding-bottom: 30px;
            border-radius: 100px 0px;

            img{
                right: 0%;
                margin-bottom: 20px;
            }

            div{
                width: 80vw;
            }
        }


        
    }

    #phone{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        height: auto;
        padding-top: 50px;
        margin-top: 10px;

        div{
            width: 80vw;
        }

        img{
            position: initial;
            height: auto;
            width: 80vw;
        }
    }

  

}



@media screen and (max-width:550px){

    header{
        padding: 0px;
        padding-top: 25px;
        height: 90vh;


        #titulo{
            align-items: center;
            h1,p{
                text-align: center;
            }
    
            #buttons_plataform{
                margin: 0px;
                text-align: center;
                button{
                    margin:5px
                }
                
            }
        }
    }

    footer{
        display: flex;
        flex-direction: column;
        img{
            margin:20px 0px;
        }
    }

    



}