@media screen and (max-width:933px){

    body{
        #menu-open{
            display: initial;
        }
    }



    select{
        display: none;
    }

    #registro{
        display: none;
    }

    #menu-open{
        cursor: pointer;
        height: 25px;
    }

    #titulo{
        #buttons_plataform{
            button{
                
                border: 1px solid white;
            }
        }
    }
}

@media screen and (max-width: 780px){
    main{

        section{
            margin: 5px;
            padding:0px;
            display: flex;
            flex-direction: column;
            padding-bottom: 30px;
            margin-bottom: 30px;

            img{
                height: auto;
                max-width: auto;
                max-height: auto;
                min-height: 250px;
                min-width: 300px;
                padding-top: 50px;
            }

            div{
                width: 100%;
                padding-top: 30px;
                height: auto;
            }

        }
    }
}



@media screen and (max-width:550px){

    header{
        padding: 0px;
        padding-top: 25px;
        height: 90vh;


        #titulo{
            align-items: center;
            h1,p{
                text-align: center;
            }
    
            #buttons_plataform{
                margin: 0px;
                text-align: center;
                button{
                    margin:5px
                }
                
            }
        }
    }

    



}